{% extends 'estoque/base.html' %}
{% block content %}
{% load static %}

<div class="container mt-4">
    <h2>Lista de Produtos</h2>

    <!-- Formulário de pesquisa -->
    <form id="search-form" action="{% url 'listar_produtos' %}" method="get">
        <div class="mb-3 input-group">
            <input type="text" id="search-input" name="query" class="form-control" placeholder="Pesquisar produtos">
            <button class="btn btn-primary" type="submit">Pesquisar</button>
        </div>
    </form>

    <!-- Botão para ver todos os produtos -->
    <a href="{% url 'listar_produtos' %}" id="view-all" class="btn btn-secondary mb-3">Ver Todos Produtos</a>

    <!-- Botão para adicionar um novo produto -->
    <a href="{% url 'adicionar_produto' %}" class="btn btn-success mb-3">Adicionar Produto</a>

    <!-- Lista de Produtos -->
    <div class="table-responsive" id="product-list">
        {% include 'estoque/includes/produto_list.html' %}
    </div>

</div>

<script src="/estoque/static/js/script.js" defer></script>
{% endblock %}
