{% extends 'estoque/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-lg">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Bem-vindo ao Estoquei</h2>
                    <p class="text-center mb-4 text-muted">"Gerencie seu estoque com eficiência e simplicidade."</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3">Login</button>
                    </form>
                    <div class="text-center mt-3">
                        <p class="mb-0">Não tem uma conta? <a href="{% url 'register' %}" class="text-primary">Registre-se aqui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
